<header class="navbar  navbar-inverse bg-light">
  <div class="container">
    <%= link_to "Circlindex" , home_path , id: 'logo', class: 'text-secondary'%>
    <ul class="nav navbar-right pt-3 pb-3">
      <li class="nav-item ml-1"><%= link_to "Home", home_path, class: 'text-secondary' %></li>
      <li class="nav-item ml-2"><%= link_to "About", about_path, class: 'text-secondary' %></li>
      
      <!--ログインユーザーの有無によって表示を変更する-->
      <% if log_in? %>
        <li class="nav-item ml-2"><%= link_to "Users", "#", class: 'text-secondary' %></li>
        
        <li class="dropdown nav-item ml-2">
          <a href="#" id="btnOpenMenu" class="dropdown-toggle text-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account<b class="caret"></b></a>
          <!--ドロップダウンのメニュー-->
          <ul class="dropdown-menu" aria-labelledby="btnOpenMenu">
            <li class="dropdown-item"><%= link_to "Profile", current_user, class: 'text-secondary' %></li>
            <li class="dropdown-item"><%= link_to "Setting", '#', class: 'text-secondary' %></li>
            <!--ログアウトリンク-->
            <li class="dropdown-item"><%= link_to 'Log out', logout_path, method: :delete, class: 'text-secondary' %></li>
          </ul>
        </li>
        
      <% else %>
        <li class="nav-item ml-2"><%= link_to "Log in", login_path, class: 'text-secondary' %></li>
      <% end %>
      
   </ul>
  </div>
</header>
